<h1>PanquecaMaker9000</h1>

<form class="form" action="/panquecas/insertpanqueca" method="POST">

<div class="form-control">
    <label for="nome">Qual é o seu nome?</label>
    <input type="text" name="nome" placeholder="Insira seu nome aqui">

    <label for="ovo">Quantos ovos você tem? (unidades)</label>
    <input type="text" name="ovo" placeholder="Número de ovos">

    <label for="leite">Quanto você tem de leite? (ml)</label>
    <input type="number" name="leite" placeholder="Quantidade de leite">



    <label for="trigo">Quanto você tem de farinha de trigo? (g)</label>
    <input type="number" name="trigo" placeholder="Quantidade de trigo">



    <label for="nomep">Nomeie sua marca de panquecas</label>
    <input type="text" name="nomep" placeholder="Insira aqui o nome da sua marca">
</div>

<input type="submit" value="Cadastrar">
</form>
